Python/Level0/Turtle Library/test.py
Python/Level0/Turtle Library/new_test.py
*.ai
*.eps
*.txt
Scratch for Newbies/Level1/Lesson 1 -  Space Talk/Notes/~$Notes.pptx
Scratch for Newbies/Level1/Lesson 3 - Catch the School Bus/Notes/~$Notes.pptx
Scratch for Newbies/Level1/Lesson 2 - Treasure Hunt/Notes/~$Notes.pptx
Scratch for Newbies/Level1/Lesson 4 - Ghost Buster/Notes/~$Notes.pptx
Scratch for Newbies/Level1/Lesson 5 - Find the Bug/Notes/~$Notes.pptx
Scratch for Newbies/Level1/Lesson 6 - Turtle Crossing/Note/~$Notes.pptx
